body{
	margin: 20px 20px;
}
.warper{
	border: 1px solid #999;
	background-color: #eee;
	overflow: hidden;
	

}

.left{
	/*display: inline-block;*/
	margin: 20px 20px;
	padding: 20px 20px;
	width: 160px;
	height:80px;
	float: left;
	border: 1px solid #999;
	background-color: white;
	margin-bottom: 20px;
	/*position: absolute;*/
}
.left .logot{
	width: 80px;
	height: 60px;
	border: 1px solid #999;
	background-color: #eee;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	
	font-size: 14px;
	float: left;
}
.left .tex{
	float: right;
	width: 60px;
	font-size: 14px
	
}


.right{
	/*display: inline-block;
	position: absolute;*/
	width: 80px;
	height: 410px;
	
	border: 1px solid #999;
	background-color: white;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
	float: right;
}
.right .logop{
	width: 80px;
	height: 60px;
	border: 1px solid #999;
	background-color: #eee;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	margin-bottom:20px; 
	font-size: 14px;
	
}
.center{
/*	position:absolute;*/
	/*display: inline-block;*/
	border: 1px solid #999;
	background-color: white;
	
	margin-left: 240px;
	margin-right: 160px;
	margin-top: 20px;
	padding: 20px 20px;
	margin-bottom: 20px;
	


}